@if (errorMessage) {
  <app-page-error [errorMessage]="errorMessage"></app-page-error>
}

@if (showCreatedMessage) {
  <section class="content">
    <h2 class="text-2xl font-bold mb-6">Secret link is ready</h2>
    <div class="field mb-4">
      <div class="control">
        <input
          #newURLInput
          type="text"
          value="{{ newURL.toString() }}"
          class="input w-full"
          (focus)="newURLInput.select()"
          readonly />
      </div>
    </div>
    <footer>
      <p>
        To share the secret, copy the link from above and send it to your
        recipient.
      </p>
      @if (copied) {
        <div class="notification" [ngClass]="{ 'animate-color': animate }">
          Link copied to the clipboard.
        </div>
      }
      <div class="buttons mb-4">
        <button
          class="button primary"
          type="button"
          (click)="copySecretUrl(newURL.toString())">
          <span class="icon mr-2"
            ><app-icomoon-icon name="copy"></app-icomoon-icon
          ></span>
          <span>Copy link</span>
        </button>
      </div>
      <p class="mb-4 mt-5">
        Important! The secret will self destruct after reading it.
      </p>
      <hr />
      <div class="buttons">
        <a routerLink="/create" class="button mr-2 secondary"
          >Create another secret</a
        >
        @if (canDestroySecret) {
          <button class="button danger" (click)="initDestroySecret()">
            Delete secret
          </button>
        }
      </div>
    </footer>
  </section>
}

@if (showDestroyConfirm) {
  <section>
    <header>
      <h2 class="title is-2">Deleting secret</h2>
    </header>
    <div class="subtitle text-xl mb-4">
      The secret will be destroyed and can't be restored after deletion. Are you
      sure you want to delete it?
    </div>
    <div class="buttons mb-4">
      @if (canDestroySecret) {
        <button (click)="destroySecret()" class="button danger mr-2">
          Yes, delete the secret
        </button>
      }
      <a routerLink="/create" class="button secondary">Cancel</a>
    </div>
  </section>
}

@if (showDestroyMessage) {
  <section>
    <h2 class="title is-2">Deleting secret</h2>
    @if (isDestroying) {
      <div>
        <p class="mb-2">Deleting is in progress</p>
      </div>
    }
    @if (isDestroyFinished) {
      <div>
        @if (destroyed) {
          <div class="notification is-success mb-6">Secret deleted</div>
        }
        @if (!destroyed) {
          <div class="notification is-danger mb-6">Secret delete failed</div>
        }
      </div>
    }
    <hr />
    <div class="buttons">
      <a routerLink="/create" class="button secondary">Create another secret</a>
    </div>
  </section>
}
