@keyframes color {
  from {
    background-color: var(--tw-text-color, --color-foobar-100);
    color: var(--tw-bg-color, --color-foobar-800);
  }

  to {
    color: var(--tw-text-color, --color-foobar-800);
    background-color: var(--tw-bg-color, --color-foobar-100);
  }
}
.animate-color {
  animation: color 0.75s;
}
