<app-page-error *ngIf="errorMessage" [errorMessage]="errorMessage"></app-page-error>

<section *ngIf="showCreatedMessage" class="content">
	<h2 class="title is-4">Secret link is ready</h2>
	<div class="field">
		<div class="control">
			<input #newURLInput type="text" value="{{newURL.toString()}}" class="input" (focus)="newURLInput.select()" readonly>
		</div>
	</div>

	<footer>
		<p>To share the secret, copy the link from above and send it to your recipient.</p>
		<div class="notification is-primary is-light" *ngIf="copied">
			<p>Link copied to the clipboard.</p>
		</div>

		<div class="buttons">
			<button class="button is-primary" (click)="copySecretUrl(newURL.toString())">
				<span class="icon"><app-icomoon-icon name="copy"></app-icomoon-icon></span>
				<span>Copy link</span>
			</button>
		</div>
		<p>Important! The secret will self destruct after reading it.</p>

		<hr>

		<div class="buttons">
			<a routerLink="/create" class="button">Create another secret</a>
			<button (click)="initDestroySecret()" class="button is-danger" *ngIf="canDestroySecret">Delete secret</button>
		</div>
	</footer>
</section>

<section *ngIf="showDestroyConfirm">
	<header>
		<h2 class="title is-4">Deleting secret</h2>
	</header>
	<div class="subtitle">
		The secret will be destroyed and can't be restored after deletion.
		Are you sure you want to delete it?
	</div>
	<div class="buttons">
		<button (click)="destroySecret()" class="button is-danger" *ngIf="canDestroySecret">Yes, delete the secret</button>
		<a routerLink="/create" class="button">Cancel</a>
	</div>
</section>

<section *ngIf="showDestroyMessage">
	<h2 class="title is-4">Deleting secret</h2>
	<div *ngIf="isDestroying">
		<p>Deleting is in progress</p>
	</div>
	<div *ngIf="isDestroyFinished">
		<div class="notification is-success" *ngIf="destroyed">Secret deleted</div>
		<div class="notification is-danger" *ngIf="!destroyed">Secret delete failed</div>
	</div>
	<hr>
	<div class="buttons">
		<a routerLink="/create" class="button">Create another secret</a>
	</div>
</section>
