<div
  *ngIf="errorMessage"
  class="notification is-danger rounded p-4 mb-4 bg-rose-100 text-rose-800">
  {{ errorMessage }}
</div>
<form (submit)="onSubmit()">
  <h2 class="text-2xl font-bold mb-6">New secret</h2>
  <div class="field mb-6">
    <app-secret [secret]="secret"></app-secret>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    <div class="column">
      <div class="field mb-4">
        <label
          for="toggleShareWithGroup"
          class="checkbox label flex items-center font-bold mb-2">
          <input
            class="mr-2"
            type="checkbox"
            id="toggleShareWithGroup"
            name="toggleShareWithGroup"
            [(ngModel)]="shareWithTeam"
            [checked]="shareWithTeam"
            (change)="toggleShareWithGroup()" />
          Share with a group
        </label>
        <ng-container>
          <div class="control">
            <input
              class="input w-full"
              type="number"
              step="1"
              min="1"
              name="maxReads"
              id="maxReads"
              *ngIf="shareWithTeam"
              [disabled]="!shareWithTeam"
              [(ngModel)]="maxReads" />
          </div>
          <p class="text-xs mt-2" *ngIf="shareWithTeam && maxReads !== null">
            The secret can be read by {{ maxReads }} people.
          </p>
        </ng-container>
      </div>
    </div>

    <div class="column">
      <div class="field mb-4">
        <label class="label block font-bold mb-2" for="expiration"
          >Expiration:</label
        >
        <div class="control select">
          <select
            class="bg-white"
            name="expiration"
            id="expiration"
            (change)="updateSelectedExpiration($event.target.value)">
            <option
              *ngFor="let option of expirations"
              [value]="option.value"
              [selected]="option.value === selectedExpiration">
              {{ option.text }}
            </option>
          </select>
        </div>
        <p class="text-xs mt-2">
          The secret will be deleted after {{ selectedExpiration }}
        </p>
      </div>
    </div>
    <div class="buttons mb-6">
      <button class="button primary" type="submit">Create secret</button>
    </div>
  </div>

  <p class="text-sm">
    Enter the message or password you want to share securely. After you submit
    the message by pressing the "Create secret" button, you will receive a link.
    Send this link to your messaging partner so they can read the secret
    message.
  </p>
  <p class="text-sm" *ngIf="shareWithTeam">
    <strong>Attention!</strong> The message can be read only as many times as
    the number of group members you set! After it's read by all members, the
    message will be destroyed and cannot be restored.
  </p>
  <p class="text-sm" *ngIf="!shareWithTeam">
    <strong>Attention!</strong> The message can be read only once! After it's
    read, the message will be destroyed and cannot be restored.
  </p>
</form>
