<form  *ngIf="!hasURL" (submit)="onSubmit()">
	<h2 class="title is-4">New secret</h2>
	<div class="field">
		<app-secret [secret]="secret"></app-secret>
	</div>
	<div class="buttons">
		<button type="submit" class="button is-primary">Save</button>
	</div>
</form>

<section *ngIf="hasURL" class="content">
	<h2 class="title is-4">Secret link is ready</h2>
	<div class="field">
		<div class="control">
			<input type="text" value="{{newURL}}" class="input" readonly>
		</div>
	</div>
	<footer>
		<button class="button" (click)="copySecretUrl(newURL)">
			<span class="icon"><ion-icon name="copy"></ion-icon></span>
			<span>Copy</span>
		</button>
	</footer>
	The secret will self destruct after reading it
</section>
