<div *ngIf="errorMessage" class="notification is-danger">{{errorMessage}}</div>
<form  *ngIf="!isSecretReady" (submit)="onSubmit()">
	<h2 class="title is-4">New secret</h2>
	<div class="field">
		<app-secret [secret]="secret" label="Secret"></app-secret>
	</div>
	<div class="field">
		<label class="label" for="expiration">Expiration:</label>
		<div class="control select">
			<select name="expiration" id="expiration" (change)="updateSelectedExpiration($event.target.value)">
				<option *ngFor="let option of expirations" [value]="option.value" [selected]="option.value == selectedExpiration">
				{{option.text}}
				</option>
			</select>
		</div>
	</div>
	<div class="buttons">
		<button type="submit" class="button is-primary">Create secret</button>
	</div>
	<p class="is-size-7">Enter the message or password you want to share securely. After you submitted the message by pressing the "Create secret" button, you will get a link. Send this link to your messaging partner so she can read the secret message.</p>
	<p class="is-size-7"><strong>Attention!</strong> The message can be read only once! After it's read, the message will be destroyed and can not be restored.
	</p>
</form>

<section *ngIf="isSecretReady" class="content">
	<h2 class="title is-4">Secret link is ready</h2>
	<div class="field">
		<div class="control">
			<input #newURLInput type="text" value="{{newURL}}" class="input" (focus)="newURLInput.select()" readonly>
		</div>
	</div>

	<footer>
		<p>To share the secret, copy the link from above and send it to your recipient.</p>
		<div class="notification is-primary is-light" *ngIf="copied">
			<p>Link copied to the clipboard.</p>
		</div>
		<div class="buttons">
			<button class="button" (click)="copySecretUrl(newURL)">
				<span class="icon"><app-icomoon-icon name="copy"></app-icomoon-icon></span>
				<span>Copy link</span>
			</button>
		</div>
		<p>Important! The secret will self destruct after reading it.</p>
	</footer>

</section>
