@media print,screen and (min-width:769px) {
	.app-content {
		margin-left: 20%;
		width: 60%;
	}
}

.header-main {
	padding: 1rem 3rem;
}

.bd-main {
	padding: 1rem 3rem;
}

.footer {
	padding: 1rem 3rem;
}
