<a routerLink="/create" class="sekret-logo-container">
  <picture>
      <source srcset="/assets/sekret-link-vice-city.webp" type="image/webp">
      <source srcset="/assets/sekret-link-vice-city.png" type="image/png">
      <img src="/assets/sekret-link-vice-city.png" class="sekret-logo" alt="sekret.link logo" />
  </picture>
</a>
<div class="columns">
	<div class="column is-three-fifths is-offset-one-fifth">
		<main class="bd-main">
			<router-outlet></router-outlet>
		</main>

		<app-page-footer></app-page-footer>
	</div>
</div>
