<div *ngIf="!requestError">
    <div class="content" *ngIf="isSecretViewEnabled">
        <h2 class="title is-4">Secret content</h2>
        <div class="field">
          <app-secret [secret]="secret" [isReadonly]=true></app-secret>
        </div>
        <p>
            The secret destroyed.
            Make sure to save it for yourself before navigating away from this page.
        </p>
    </div>

    <div *ngIf="isSecretRevelViewEnabled" class="hero is-medium">
        <div class="content">
            <header>
                <h2 class="title is-2">Reveal secret</h2>
            </header>
            <div class="text-lg">
                The secret will be destroyed and can't be restored after read.
            </div>
            <footer class="mt-4">
                <button class="button danger" type="button" (click)="readSecret()">Read secret</button>
            </footer>
        </div>
    </div>
</div>

<app-page-error *ngIf="requestError" [error]="requestError.status"></app-page-error>

<div *ngIf="clientError" class="content">
    <h2 class="title is-4">
        {{clientError.message}}
    </h2>
</div>
