<div *ngIf="!requestError">
    <app-secret *ngIf="secret && secret.Data" [secret]="secret" [isReadonly]=true></app-secret>
    <div *ngIf="secret && !secret.Data">
        Secret found, do you want to read it?
        <button type="button" (click)="readSecret(secret)">Read secret</button>
    </div>
</div>
<div *ngIf="requestError">
    <div [ngSwitch]="requestError.status">
        <div *ngSwitchCase="404">
            Secret not found
        </div>
        <div *ngSwitchCase="401">
            Unauthorized
        </div>
        <div *ngSwitchDefault>
            Unknown error
        </div>
    </div>
</div>
