<div *ngIf="!requestError">
    <div class="container" *ngIf="isSecretViewEnabled">
        <h2 class="title is-4">Secret content</h2>
        <app-secret [secret]="secret" [isReadonly]=true></app-secret>
        <p>
            The secret destroyed.
            Make sure to save it for yourself before navigating away from this page.
        </p>
    </div>

    <div *ngIf="isSecretRevelViewEnabled" class="hero is-medium">
        <div class="container">
            <header>
                <h2 class="title is-4">Reveal secret</h2>
            </header>
            <div class="subtitle">
                The secret will be destroyed and can't be restored after read.
            </div>
            <footer>
                <button class="button is-danger" type="button" (click)="readSecret()">Read secret</button>
            </footer>
        </div>
    </div>
</div>
<div *ngIf="requestError" class="container">
    <div [ngSwitch]="requestError.status">
        <h2 *ngSwitchCase="404" class="title is-4">
            Secret not found
        </h2>
        <h2 *ngSwitchCase="401" class="title is-4">
            Unauthorized
        </h2>
        <h2 *ngSwitchDefault class="title is-4">
            Unknown error
        </h2>
    </div>
</div>

<div *ngIf="clientError" class="container">
    <h2 class="title is-4">
        {{clientError.message}}
    </h2>
</div>
