<h2 class="title is-2">Privacy Policy</h2>

<article class="content">
  <p><em>Last modified: September 13th, 2020</em></p>
  <p>
    At Sekret.link, privacy is taken very seriously, since the main purpose of
    the site is to preserve it. This policy outlines the measures taken by
    Sekret.link to protect the privacy of its users.
  </p>

  <dl>
    <dt class="title is-5">Service description</dt>

    <dd>
      <p>
        Sekret.link is a free web based service that allows users to create
        encrypted notes that they can share over the internet as unique
        one-time-use HTTPS URLs (hereafter referred to as links) which by
        default expire after its first access via any web browser.
      </p>

      <p>
        As Sekret.link does not provide any means for transmitting the link, the
        act of sending the link is the full responsibility of Sekret.link users.
      </p>

      <p>
        Depending on the communication channel of your choice (e.g., e-mail,
        instant messaging, social media), there may be a certain risk that third
        parties intercept your communication, get knowledge of the communicated
        link and thus may be able to read your note.
      </p>
    </dd>

    <dt class="title is-5">How the notes and its contents are processed</dt>
    <dd>
      <p>
        The service can be used from an API or by combinining with the web
        application.
      </p>
      <p>
        When only the API is used, and an unencrypted data sent to the API, the
        server will still encrypt the data before storing it, then all the data
        will be sent to back in the API response which needed to construct a
        link. The decryption key is not stored or logged by Sekret.link, so
        there is no way to recover a note if a Sekret.link user losses the link.
      </p>
      <p>
        Using the webapplication the note will be encrypted before they sent to
        the API. The link is generated in the user's browser and at no time is
        sent as such to Sekret.link. The link is thus in the sender's (and later
        possibly in the recipient's) hands only. Therefore, there is no way to
        recover a note if a Sekret.link user losses the link.
      </p>

      <p>
        Since only the link binds the decryption key to the note's content and
        since Sekret.link does not have the link, at no time is any note held in
        any readable format state at Sekret.link. This assures that nobody
        (including Sekret.link's administrators) can read a note.
      </p>

      <p>
        When using Sekret.link's default funtionality, when a note is retrieved,
        its data is completely removed from Sekret.link; there is absolutely no
        way to recover it again.
      </p>

      <p>
        After a note is deleted from Sekret.link, there is absolutely no way to
        recover it again.
      </p>

      <p>
        When a note is not retrieved after selected expiration days, Sekret.link
        removes it permanently, just as if it were read. The Sekret.link
        sysadmin team will do as much as possible to protect the site against
        unauthorized access, modification or destruction of the data. But, even
        if someone or something could manage to gain access to the database,
        they would be unable to read the notes since their contents are
        encrypted and can't be decrypted without the links which Sekret.link
        never has a hold of.
      </p>
    </dd>

    <dt class="title is-5">Processing of IP addresses</dt>
    <dd>
      <p>
        Sekret.link is not logging the IP addresses; they are processed to
        enable communication with Sekret.link's servers but they are not part of
        the log-files. IP addresses are deleted as soon as they are no longer
        needed for the purpose of communication.
      </p>
    </dd>

    <dt class="title is-5">Pseudonymous data</dt>
    <dd>
      <p>
        The creator of the note can introduce personal data into the note. Even
        though this data is encrypted, the data can be decrypted again and thus
        constitutes pseudonymous (personal) data. In any case, one cannot deduce
        the note's creator from Sekret.link's database, as Sekret.link does not
        store IP addresses.
      </p>

      <p>
        The decryption of the note's data is in the users' hands (sender and
        recipient). Sekret.link is not able to decrypt the note and access the
        data (personal or otherwise) introduced by the creator since Sekret.link
        is never in possession of the decryption key which is contained only in
        the link.
      </p>
    </dd>

    <dt class="title is-5">Disclaimer</dt>
    <dd>
      <p>
        When a person clicks the Sekret.link's link, Sekret.link declines any
        responsibility related to the note's content.
      </p>
    </dd>

    <dt class="title is-5">Disclosure of Data to Third Party</dt>
    <dd>
      <p>
        Sekret.link does not share nor sell any information to others, nor use
        it in any way not mentioned in this Privacy Policy.
      </p>
    </dd>

    <dt class="title is-5">Use of cookies</dt>
    <dd>
      <p>Sekret.link does not use any cookies.</p>
    </dd>

    <dt class="title is-5">Validity of this Privacy Policy</dt>
    <dd>
      <p>
        Please note that this Privacy Policy may change from time to time. We
        expect most changes to be minor. Regardless, we will post any Policy
        changes on this page, and if the changes are significant, we will
        provide a more prominent notice such as a message on the home page. Each
        version of this Policy will be identified at the top of the page by its
        effective date.
      </p>
    </dd>

    <dt class="title is-5">Contact information</dt>
    <dd>
      <p>
        If you have any questions about this Privacy Policy or other concerns
        regarding privacy issues, please send us an e-mail at
        info&#64;sekret.link and we will answer you in less than 5 working days.
        If you are not satisfied with the outcome of our communication, you may
        refer your complaint to a local supervisor authority.
      </p>
    </dd>
  </dl>
</article>
