<footer class="footer">
	<div class="cols has-text-centered">
		<div class="col">
			<ul>
				<li><a routerLink="/privacy">Privacy Policy</a></li>
				<li><a routerLink="/api-doc">API Documentation</a></li>
			</ul>
		</div>
		<div class="col">
			<ul>
				<li><a href="https://github.com/Ajnasz/sekret.link"><span class="icon"><app-icomoon-icon name="github"></app-icomoon-icon></span>Backend source code</a></li>
				<li><a href="https://github.com/Ajnasz/sekret.link-ui"><span class="icon"><app-icomoon-icon name="github"></app-icomoon-icon></span>Web client source code</a></li>
			</ul>
		</div>
	</div>
</footer>
