<footer class="footer">
	<div class="columns has-text-centered">
		<div class="column">
			<ul>
				<li><a href="/privacy">Privacy Policy</a></li>
				<li><a href="/api-doc">API Documentation</a></li>
			</ul>
		</div>
		<div class="column">
			<ul>
				<li><a href="https://github.com/Ajnasz/sekret.link-ui"><span class="icon"><ion-icon name="logo-github"></ion-icon></span>Frontend source code</a></li>
				<li><a href="https://github.com/Ajnasz/sekret.link"><span class="icon"><ion-icon name="logo-github"></ion-icon></span>Backend source code</a></li>
			</ul>
		</div>
	</div>
</footer>
